@import './feed.css';
@import './header.css';
@import './login.css';
@import './messagesender.css';
@import './post.css';
@import './sidebar.css';
@import './sidebarrow.css';
@import './story.css';
@import './storyreel.css';

.app {
    background-color: #f1f2f5;
    height: 100%;
}

.app-body {
    display: flex;
}